
<div class="row">
    @foreach (var item in productService.Products)
   {
       <div class="col-md-3">
           <h3>@item.Name</h3>
           <p>$@item.Price</p>
           <button class="btn btn-primary">Add to cart!</button>
       </div>
   }
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
        await productService.GetAll();
    }
}
